<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<link href="" rel="stylesheet">
<script src="js/vue/vue-2.3.js"></script>
</head>
<body>
    <div id="app">
       <button @click="sxOne">筛选01</button> 
       <button @click="sxTwo">筛选02</button> 
       <button @click="sxThree">筛选03</button>
       <button @click="sxall">全部显示</button> 
    	<ul>
    		<li v-for="item in list | filterBy '01' in 'item.statu'">
    			<div><span>{{item.name}}</span> <span>{{item.age}}</span>+<span>{{item.statu}}</span></div>
    		</li>
    	</ul>
    </div>
</body>
<script type="text/javascript">
    var list = [
              { 'name':'tom','age':'18','statu':'01'},
              { 'name':'lili','age':'30','statu':'01'},
              { 'name':'lala','age':'12','statu':'01'},
              { 'name':'zezhe','age':'120','statu':'01'},
              { 'name':'fhas','age':'12','statu':'02'},
              { 'name':'Mzaa','age':'8','statu':'02'},
              { 'name':'feili','age':'10','statu':'01'},
              { 'name':'fser','age':'17','statu':'01'},
              { 'name':'jitic','age':'07','statu':'03'},
              { 'name':'zhaoe','age':'16','statu':'03'},
              { 'name':'fappao','age':'22','statu':'03'},
              { 'name':'fierl','age':'39','statu':'03'}
              ]
	window.onload =  function(){
		 new Vue({
		 	el:"#app",
		 	data:{
                msg:"ad",
                list:list,
		 	 },
		 	 methods:{
		 	 
		 	 }
		 	
		 })
	}
</script>
</html> -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue自带的过滤器</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="js/vue/vue-1.021.js"></script>
  </head>
  <body>
    <div class="test">
      <ul v-for="item in lili | filterBy 'o' "> <!--输出oi oa lo ouo oala-->
        <li>{{item}}</li>
      </ul>
       <hr>
      <ul v-for="item in man | filterBy 'l' in 'name' "> <!--输出lily lucy-->
        <li>{{item.name}}</li>
      </ul>
        <hr>
      <ul v-for="item in man | filterBy 'l' in 'name' 'dada' "> <!--输出lily+undefined lucy+undefined undefined+lsh-->
        <li>{{item.name+"+"+item.dada}}</li>
      </ul>
    </div>
    <script type="text/javascript">
      var myVue = new Vue({
        el: ".test",
        data: {
          lili: ["oi", "oa", "ll", "lo" ,"ouo" ,"kk" ,"oala"],
          man: [  //此处注意man是数组,不是对象
          {name: "lily"},
          {name: "lucy"},
          {name: "oo"},
          {dada: "lsh"},
          {dada: "ofg"}
          ]
        }
      })
    </script>
  </body>
</html>