<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue自带的过滤器</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="js/vue/vue-1.021.js"></script>
  </head>
  <body>
    <div class="test">
      <ul v-for="item in lili | filterBy 'o' "> <!--输出oi oa lo ouo oala-->
        <li>{{item}}</li>
      </ul>
       <hr>
      <ul v-for="item in man | filterBy 'l' in 'name' "> <!--输出lily lucy-->
        <li>{{item.name}}</li>
      </ul>
        <hr>
      <ul v-for="item in man | filterBy 'l' in 'name' 'dada' "> <!--输出lily+undefined lucy+undefined undefined+lsh-->
        <li>{{item.name+"+"+item.dada}}</li>
      </ul>
      <h5>js filter 和 map</h5>
       <ul>
          <li v-for="item in lili2">{{item.id}}</li>
       </ul>
       <hr>
      <h5>二维数组</h5>
      <ul>
        <li v-for = "(index,item) in filters">
           <ul>
               <li v-for="(index2,item) in item.categories">{{item}}</li>
           </ul>
        </li>
      </ul>
    </div>

    
    <script type="text/javascript">
    var filters = [
    {
      categories: ['电子商务', '互联网医疗', '互联网金融'],
      showFilter: false,
      title: '分类'
    }, {
      categories: ['正在申购', '申购完成'],
      showFilter: false,
      title: '状态'
    }, {
      categories: ['杭州', '上海', '北京', '深圳', '广州'],
      showFilter: false,
      title: '地区'
    }
   ]


      var data = [
                   {"isSelect":true,"id":"adfeade333"},
                   {"isSelect":false,"id":"adfeade444"},
                   {"isSelect":true,"id":"adfeade666"}
                  ]
       var data2 = data.filter( item => {
                        return item.isSelect == true;
                    } );
      var myVue = new Vue({
        el: ".test",
        data: {
          lili: ["oi", "oa", "ll", "lo" ,"ouo" ,"kk" ,"oala"],
          man: [  //此处注意man是数组,不是对象
          {name: "lily"},
          {name: "lucy"},
          {name: "oo"},
          {dada: "lsh"},
          {dada: "ofg"}
          ],
          lili2:data2,
          filters:filters
        }
        
      })
    </script>
    <script type="text/javascript">
       var data = [
                   {"isSelect":true,"id":"adfeade333"},
                   {"isSelect":false,"id":"adfeade444"},
                   {"isSelect":true,"id":"adfeade666"}
                  ]
       var data2 = data.filter( item => {
                        return item.isSelect == false;
                    } );
       var data3 = data.filter( item => {
                        return item.isSelect == false;
                    } ).map( item => {
                        return  item.id;
                    } )
           
        if(data3.length){
          console.log("真")      
        }else{
          console.log("假")
        }
    </script>
    <script type="text/ecmascript-6">
       

    </script>
  </body>
</html>